

{% block main %}

    {# your setted vars are going to appear here #}
    {{ dump()  }}
    {# the original template contents are rendered with parent() #}

    {# imagePreviewSrc was my setted var so you can access to it in this way, for example #}
    <p>Willkommen!</p>


{% endblock %}