{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    <h1 class="title">Übersicht der Schulverwaltung</h1>
{% endblock %}

{% block main %}
    <ul>
        <li>Automatischer Vertretungsplan</li>
        <li>Klassen- und Kursansichten</li>
        <li>Berechnung der Arbeitszeiten der Lehrkräfte</li>
        <li>Noten- und Klassenbuch</li>
        <li>Berechnung von Semester- und Schuljahresnoten</li>
        <li>Abiturprüfungen und Abirechner</li>
        <li>Verwaltung von Leitfragen zur 5. PK</li>
    </ul>
{% endblock %}