{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var field \EasyCorp\Bundle\EasyAdminBundle\Dto\FieldDto #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% if ea.crud.currentAction == 'detail' %}
    <h6 class="fw-bold border-bottom pb-2">Heutige Änderungen</h6>
    <table class="table table-hover mb-5">
        <thead>
        <tr>
            <th>Änderung</th>
            <th>Kurs</th>
            <th>Datum</th>
            <th>Schulstunde</th>
            <th>Leitende Lehrkraft</th>
            <th>Hinweis</th>
        </tr>
        </thead>
        <tbody>
        {% for course in field.value %}

        {% endfor %}
        </tbody>
    </table>

    <h6 class="fw-bold border-bottom pb-2">Kommende Änderungen</h6>
    <table class="table table-hover mb-5">
        <thead>
        <tr>
            <th>Änderung</th>
            <th>Kurs</th>
            <th>Datum</th>
            <th>Schulstunde</th>
            <th>Leitende Lehrkraft</th>
            <th>Hinweis</th>
        </tr>
        </thead>
        <tbody>
            {% for course in field.value %}

            {% endfor %}
        </tbody>
    </table>

{% else %}
    {#  #}<span class="badge badge-secondary">{# field.formattedValue #}</span>
{% endif %}