<div class="list-group list-group-flush w-100">
    <div class="list-group-item fs-4 text-uppercase text-bg-dark blur-dark">{{ article.title }}</div>
</div>

<div class="w-100 mt-3 mb-auto">
    <table class="table table-borderless small">
        <tr>
            <td colspan="4" class="p-0 px-1 bg-transparent border-top border-primary">
                <div class="d-flex align-items-center fw-bold text-white ps-3" style="background-color: #2553722D!important;height: 50px">
                    3. OG
                </div>
            </td>
            <td colspan="3" rowspan="2" class="p-0 pt-1 px-1 bg-transparent border-top border-primary ">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    A303
                    <small>Aula</small>
                </div>
            </td>
            <td colspan="18" class="p-0 px-1 bg-transparent border-top border-primary "><div style="background-color: #2553722D!important; height: 50px"></div></td>
        </tr>
        <tr>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A302</div></td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A301</div></td>
            <td rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A304</div></td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A305</div></td>
            <td colspan="1" rowspan="2" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A306</div></td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A307</div></td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A308</div></td>
            <td colspan="1" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A309</div></td>
            <td colspan="1" rowspan="2" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-venus"></i>
                </div></td>
            <td colspan="2" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A311</div></td>
            <td colspan="3" rowspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A312</div></td>
        </tr>
        <tr>
            <td colspan="3" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 50px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="25" class="p-0 px-1 bg-transparent border-top border-primary" style="height: 50px"></td>
        </tr>
        <tr>
            <td colspan="4" class="p-0 px-1 bg-transparent border-bottom border-primary">
                <div class="d-flex align-items-center fw-bold text-white ps-3" style="height: 50px">
                    2. OG
                </div>
            </td>
            <td colspan="1" class="p-0 pt-1 px-1 bg-transparent border-top border-start border-primary">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="height: 50px">
                    A204
                    <small>Labor</small>
                </div>
            </td>
            <td colspan="1"  class="p-0 pt-1 px-1 bg-transparent border-top border-end border-primary">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="background-color: #008d4f4D!important;height: 50px">
                    A205
                    <small>Bibliothek</small>
                </div>
            </td>
            <td colspan="19" class="p-0 px-1 bg-transparent border-bottom border-primary"></td>
        </tr>
        <tr>
            <td colspan="24" class="p-0 bg-transparent"><div style="background-color: #2553722D!important; height: 50px"></div></td>
            <td colspan="1" class="p-0 pe-1 bg-transparent"><div class="d-flex flex-column justify-content-center align-items-center mb-1 text-bg-primary">
                    <span>A218</span>
                    <small>VL</small></div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A203</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A202</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-venus"></i>
                </div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-mars"></i>
                </div></td>
            <td rowspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A208</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A209</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A210</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A211</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A212</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A213</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-mars"></i>
                </div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A215</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A216</div></td>
            <td colspan="3" class="p-0 px-1 pb-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A217</div></td>
        </tr>
        <tr>
            <td colspan="25" class="p-0 px-1 border-top border-primary bg-transparent" style="height: 50px"></td>
        </tr>
        <tr>
            <td colspan="4" class="p-0 px-1 border-bottom border-primary bg-transparent">
                <div class="d-flex align-items-center fw-bold text-white ps-3" style="height: 50px">
                    1. OG
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 pt-1 border-start border-top border-primary bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="height: 50px">
                    A104
                    <small>Küche</small>
                </div>
            </td>
            <td colspan="1"  class="p-0 pt-1 px-1 border-end border-top border-primary bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="background-color: #008d4f4D!important;height: 50px">
                    A105
                    <small>Lehrerzimmer</small>
                </div>
            </td>
            <td colspan="19" class="p-0 border-bottom border-primary bg-transparent"></td>
        </tr>
        <tr>
            <td colspan="24" class="p-0 bg-transparent"><div style="background-color: #2553722D!important; height: 50px"></div></td>
            <td class="p-0 pe-1 bg-transparent">
                <div class="d-flex mb-1 flex-column justify-content-center align-items-center text-bg-primary">
                    A118
                    <small>KV</small>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A103</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A102</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-venus"></i>
                </div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-mars"></i>
                </div></td>
            <td rowspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A108</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="background-color: #008d4f4D!important;height: 60px">
                    A109
                    <small>PäKo</small>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A110</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A111</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A112</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A113</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-venus"></i>
                </div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A115</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A116</div></td>
            <td colspan="3" class="p-0 px-1 pb-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A117</div></td>
        </tr>
        <tr>
            <td colspan="25" class="p-0 px-1 border-top border-primary bg-transparent" style="height: 50px"></td>
        </tr>
        <tr>
            <td colspan="5" class="p-0 border-bottom border-primary px-1 bg-transparent">
                <div class="d-flex align-items-center fw-bold text-white ps-3" style="height: 50px">
                    EG
                </div>
            </td>
            <td colspan="1"  class="p-0 px-1 pt-1 border-start border-top border-end border-primary bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-white" style="background-color: #2553722D!important; height: 50px">
                    Eingang
                </div>
            </td>
            <td colspan="19" class="p-0 border-bottom border-primary bg-transparent"></td>
        </tr>
        <tr>
            <td colspan="6" class="p-0 bg-transparent">
                <div class="d-flex align-items-center fw-bold text-white ps-3" style="background-color: #2553722D!important; height: 50px">

                </div>
            </td>
            <td colspan="1" class="p-0 bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center p-1" style="background-color: #2553722D!important;height: 50px">
                    <div class="text-bg-success text-white fw-bold rounded-3 p-2 shadow">
                        <i class="fa-solid fa-map-pin"></i>
                    </div>
                </div>
            </td>
            <td colspan="16" class="p-0 bg-transparent"><div style="background-color: #2553722D!important; height: 50px"></div></td>
            <td colspan="2" class="p-0 pe-1 bg-transparent">
                <div class="d-flex flex-column mb-1 justify-content-center align-items-center text-bg-primary" style="background-color: #008d4f4D!important;">
                    A016
                    <small>Sozialarbeit</small>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A003</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A002</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px"></div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-white" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                    <small>Zum Hof</small>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px"></div></td>

            <td colspan="3" class="p-0 px-1 bg-transparent">
                <div class="d-flex flex-column justify-content-center align-items-center text-bg-primary" style="background-color: #008d4f4D!important; height: 60px">
                    A008 - A009
                    <small>Schulleitung & Sekretariat</small>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A010</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A011</div></td>
            <td colspan="2" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A012</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A013</div></td>
            <td colspan="1" class="p-0 px-1 bg-transparent">
                <div class="d-flex justify-content-center align-items-center" style="background-color: #2553722D!important; height: 60px">
                    <i class="fa-solid fa-stairs text-white"></i>
                </div>
            </td>
            <td colspan="1" class="p-0 px-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">
                    <i class="fa-solid fa-venus-mars"></i>
                </div></td>
            <td colspan="5" class="p-0 px-1 pb-1 bg-transparent"><div class="d-flex justify-content-center align-items-center text-bg-primary" style="height: 60px">A015</div></td>
        </tr>
        <tr>
            <td colspan="25" class="p-0 px-1 border-top border-primary bg-transparent" style="height: 10px"></td>
        </tr>
    </table>
</div>

