{% extends 'base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between align-items-stretch h-100">
        <main class="d-flex flex-column justify-content-between flex-grow-1">
            {% block main %}
                <div id="header">
                    {% block header %}
                        <header class="bg-primary">
                            <div class="container-fluid">
                                <div class="d-flex flex-wrap align-items-center justify-content-between text-white">
                                    <a class="navbar-brand d-flex align-items-center" href="/">
                                        <img src="{{ asset('images/tk_logo.svg') }}" height="64" alt="TK Logo">
                                    </a>
                                    <div id="ticker" class="flex-fill mx-5">
                                        {% block aside %}
                                                <div class="h5 mb-0 text-white text-center">Aktuelle Hinweise und wichtige Informationen als Ticker</div>
                                        {% endblock %}
                                    </div>
                                    <div class="fs-2 py-3" {{ stimulus_controller('time')}}>
                                        <span  {{ stimulus_target('time', 'date') }} class="me-2">datum</span>
                                        <span class="fw-bold" {{ stimulus_target('time', 'time') }}>uhrzeit</span>
                                    </div>
                                </div>
                            </div>
                        </header>
                    {% endblock %}
                </div>

                <div class="flex-grow-1">
                    <div class="h-100" id="body">
                        <div class="h-100">
                            {% block body %}{% endblock %}
                        </div>

                    </div>
                </div>
                <div id="footer" class="text-bg-tertiary blur">
                    {% block footer %}
                        <div class="small text-end">&copy; 2024 Benjamin Wagner</div>
                    {% endblock %}
                </div>
            {% endblock %}
        </main>
    </div>
{% endblock %}